@media screen and (max-width: 600px) {
    .collection-preview {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        .title {
            font-size: 38px;
            margin-bottom: 25px;
        }
    
        .preview {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            margin-left: 5vh;
            margin-bottom: 30px;
            justify-content: space-between;
        }
    }
}
@media screen and (min-width: 601px)
{
    .collection-preview {
        display: flex;
        flex-direction: column;
        .title {
            font-size: 38px;
            margin-bottom: 30px;
            margin-top: 50px;
            margin-left: 47.5%;
        }
    
        .preview {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            justify-content: space-between;
        }
    }
}