@media screen and (max-width: 767px) {
    .sign-in {
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin-bottom:70px;
        .title {
            margin: 10px 0;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }
    
}


@media screen and (min-width: 768px){
    .sign-in {
        width: 30vw;
        display: flex;
        flex-direction: column;
        margin-bottom:70px;
        .title {
            margin: 10px 0;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }
    
}

